{% extends 'base_with_navigator.html' %}
{% load static %}
{% load custom_tags %}

{% block title_head %}
    Home
{% endblock%}

{% block additional_tags_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
{% endblock %}

{% block content_body %}
    {{ block.super }}
    <div class='table-wrapper'>
        {% if  not sites %}
            <span> No any site added </span>
        {% endif %}
        <p class='add-site-link'><a href={% url 'site_add' %}>Add new site</a></p>
        {% if sites %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>URL</th>
                        <th>Count of visits</th>
                        <th>Amount of routed data</th>
                    </tr>
                </thead>
                <tbody>
                    {% for site in sites %}
                        <tr>
                            <td><a href="{% url 'site_edit' site.id %}">{{ site.name }}</a></td>
                            <td><a href="{{site.url}}">{{ site.url}}</a></td>
                            <td>{{site.visit_count}}</td>
                            <td>{{site.routed_data_amount|divide:1024|floatformat:2 }} KB</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock%}
