{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'auth/css/style.css' %}">
    <title>Login</title>
</head>
<body>
    <div class='wrapper'>
        <div class='form-wrapper'>
            <h2>Login</h2>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Login</button>
            </form>
            <p>No account? <a href="{% url 'register' %}">Register here</a>.</p>
        </div>
    </div>
</body>
</html>