{% extends 'base.html' %}
{% load static %}

{% block title_head%}
    Register
{% endblock%}

{% block additional_tags_head %}
    <link rel="stylesheet" href="{% static 'auth/css/style.css' %}">
{% endblock %}

{% block content_body %}
    <div class='wrapper'>
        <div class='form-wrapper'>
            <h2>Register</h2>
            <form method="post" action="{% url 'register' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Register</button>
            </form>
            <p>Already have account ? <a href="{% url 'login' %}">Login here</a>.</p>
        </div>
    </div>
{% endblock%}
